#menu-r .navbar-toggler {
  color: #000;
}
#header4-a H1 {
  color: #000000;
}
#msg-box2-1p H2 {
  font-size: 30px;
}
#msg-box3-4 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-4 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-1j .navbar-toggler {
  color: #000;
}
#menu-1b .navbar-toggler {
  color: #000;
}
#menu-15 .navbar-toggler {
  color: #000;
}
#header4-16 H1 {
  color: #000000;
}
#menu-z .navbar-toggler {
  color: #000;
}
#header4-10 H1 {
  color: #000000;
}
#menu-s .navbar-toggler {
  color: #000;
}
#header4-t H1 {
  color: #000000;
}
#menu-1r .navbar-toggler {
  color: #000;
}
#header4-1s H1 {
  color: #000000;
}
